:root {
  --header-height: 88px;

  --container: 1440px;

  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 24px;
  --radius-xl: 40px;

  --transition-fast: 0.2s;
  --transition-medium: 0.4s;
  --transition-slow: 0.8s;
}